<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @company.company_id %>
</p>

<p>
  <b>Company name:</b>
  <%= @company.company_name %>
</p>

<p>
  <b>Address1:</b>
  <%= @company.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @company.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @company.city %>
</p>

<p>
  <b>State:</b>
  <%= @company.state %>
</p>

<p>
  <b>Postal code:</b>
  <%= @company.postal_code %>
</p>

<p>
  <b>Country:</b>
  <%= @company.country %>
</p>

<p>
  <b>Phone1:</b>
  <%= @company.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%= @company.phone2 %>
</p>

<p>
  <b>Fax:</b>
  <%= @company.fax %>
</p>

<p>
  <b>Dba:</b>
  <%= @company.dba %>
</p>

<p>
  <b>Business since:</b>
  <%= @company.business_since %>
</p>

<p>
  <b>Contact name:</b>
  <%= @company.contact_name %>
</p>

<p>
  <b>Contact email:</b>
  <%= @company.contact_email %>
</p>

<p>
  <b>Sales tax:</b>
  <%= @company.sales_tax_id %>
</p>

<p>
  <b>Credit status:</b>
  <%= @company.credit_status %>
</p>

<p>
  <b>Comments:</b>
  <%= @company.comments %>
</p>

<p>
  <b>Business type:</b>
  <%= @company.business_type %>
</p>

<p>
  <b>Password digest:</b>
  <%= @company.password_digest %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
